<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="MainCtrl" lang="vi">
<head>
    <!-------------------------- Icon ------------------------------------>
    <!-- Icon -->
    <link rel="icon" href="/adm/res/img/icon.gif" />
    <!-------------------------- Meta Tag -------------------------------->
    <!-- Meta Tag -->
    <meta name="fragment" content="!" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="CTSoft" />
    <!-------------------------- JSS (COM) ------------------------------->
    <script type="text/javascript" src="/cts/res/jss/base.min.js"></script>
    <script type="text/javascript" src="/cts/res/jss/base-ext.min.js"></script>
    <script type="text/javascript" src="/cts/res/lib-ext/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/cts/res/jss/cts-res.min.js"></script>
    <script type="text/javascript" src="/cts/res/jss/cts-plugin.min.js"></script>
    <script type="text/javascript" src="/cts/res/jss/cts-com.js"></script>
    <!-------------------------- CSS (COM) ------------------------------->
    <link rel="stylesheet" type="text/css" href="/cts/res/css/com.min.css" />
    <link rel="stylesheet" type="text/css" href="/cts/res/css/adm.min.css" />
    <!-------------------------- JSS (Adm) ------------------------------->
    <!-- Adm Resources -->
    <script type="text/javascript" src="/adm/res/jss/i18n/messages.js"></script>
    <script type="text/javascript" src="/adm/res/jss/i18n/names.js"></script>
    <!-- Config -->
    <script type="text/javascript" src="/adm/res/jss/angular-config.js"></script>
    <script type="text/javascript" src="/adm/res/jss/route-configs.js"></script>
    <!-------------------------- JSS (Ctrls) ----------------------------->
    <script type="text/javascript" src="/adm/res/jss/ctrls/main.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-room-types-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-room-types-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-tour-types-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-tour-types-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-tours-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-tours-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-accoms-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-accoms-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-services-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-services-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-banners-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-banners-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-photos-entry.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-photos-list.js"></script>
    <script type="text/javascript" src="/adm/res/jss/ctrls/ma-pages-list.js"></script>
    <!-------------------------- CSS (Adm) ------------------------------->
    <link rel="stylesheet" type="text/css" href="/adm/res/css/main-style.css" />
    <!-------------------------- Title ----------------------------------->
    <title>{{$nm('ADM.MAIN.Title')}}</title>
</head>
<body>
    <div id="mainPane" data-ng-show="data.HasAuth">
        <div id="logoPane">
            <span>{{$nm('ADM.MAIN.CompanyName')}}</span>
            <!--<img src="/adm/res/img/logo.gif" style="width: 160px; margin: 10px 30px" />-->
        </div>
        <div id="navBarPane">
            <treecontrol
                class="tree-classic"
                tree-model="treeMenus.ListData"
                options="treeMenus.Options">
                <a ng-if="node.MenuLink" ui-sref="{{node.MenuLink}}(node.Args)">
                    <span class="{{node.MenuIcon}}"></span> {{node.MenuName}}
                </a>
                <a ng-if="!node.MenuLink">
                    <span class="{{node.MenuIcon}}"></span> {{node.MenuName}}
                </a>
            </treecontrol>
        </div>
        <div id="contentPane">
            <div id="headerContent">
                <div id="menuIcon">
                    <span class="glyphicon glyphicon-th-list" ng-click="showHideLeftPane()"></span>
                </div>
                <div id="userPane">
                    {{$nm('ADM.MAIN.Hi')}}, {{data.UserContext.UserName}} | <a ui-sref="users_profile">{{$nm('ADM.MAIN.Profile')}}</a> | <a href ng-click="logout()">{{$nm('ADM.MAIN.Logout')}}</a>
                </div>
            </div>
            <div id="mainContent" ui-view="main"></div>
        </div>
    </div>
    <div class="cts-loading"></div>
</body>
</html>