<cts-title text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Title')}}"></cts-title>
<cts-toolbar>
    <cts-toolbar-item onclick="save()" class="left-1" src="$res.Icons.Save" data-original-title="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Tooltip.Save')}}" ui-jq="tooltip"></cts-toolbar-item>
    <cts-toolbar-item onclick="back()" class="right-1" src="$res.Icons.Back" data-original-title="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Tooltip.Back')}}" ui-jq="tooltip" ng-show="variable.ShowLinkBack"></cts-toolbar-item>
</cts-toolbar>
<tabset class="df-fp cts-tabset-pane">
    <tab heading="{{$nm('ADM.MA.ROOMTYPES.ENTRY.TabMain')}}">
        <cts-form-pane class="p-height-6" cts-tabgroup="true">
            <!-- <cts-label class="top-1 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.TypeCd')}}"></cts-label> -->
            <!-- <cts-label class="top-1 left-5 width-10" text="{{objEntry.DataInfo.TypeCd}}"></cts-label> -->
            <!-- <cts-button class="top-1 left-8 width-8" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.GenCd')}}" onclick="genCd()" ng-hide="variable.BasicInfo.IsEdit" disabled="variable.BasicInfo.IsEdit" style="margin-left:-5px"></cts-button> -->
            <cts-label class="top-1 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.TypeName')}}"></cts-label>
            <cts-text tabindex="10" class="top-1 left-5 width-15" model="objEntry.DataInfo.TypeName" onblur="blurTypeName(data, objEntry.DataInfo, true)" id="txtTypeName"></cts-text>
            <cts-button tabindex="70" class="top-1 left-12 width-8" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.UploadImage')}}" onclick="uploadImage(objEntry.DataInfo)" style="margin-left:-5px"></cts-button>
            <cts-label class="top-1 left-15 width-20" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Dimension')}}" style="margin-left: 10px"></cts-label>
            <cts-label class="top-2 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Slug')}}"></cts-label>
            <cts-text tabindex="20" class="top-2 left-5 width-15" model="objEntry.DataInfo.Slug" tooltip="{ title: $nm('ADM.MA.ROOMTYPES.ENTRY.Tooltip.Slug'), trigger: 'focus', placement: 'right' }"></cts-text>
            <cts-label class="top-3 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Price')}}"></cts-label>
            <cts-number tabindex="30" class="top-3 left-5 width-12" option="{ min: 0, max: 999999999999 }" model="objEntry.DataInfo.Price"></cts-number>
            <cts-label class="top-4 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.AdultPerRoom')}}"></cts-label>
            <cts-number tabindex="40" class="top-4 left-5 width-7" option="{ min: 0, max: 999 }" model="objEntry.DataInfo.AdultPerRoom"></cts-number>
            <cts-label class="top-5 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.SortKey')}}"></cts-label>
            <cts-number tabindex="50" class="top-5 left-5 width-7" option="{ min: 0, max: 9999 }" model="objEntry.DataInfo.SortKey"></cts-number>
            <cts-label class="top-6 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.DeleteFlag')}}"></cts-label>
            <cts-select tabindex="60" class="top-6 left-5 width-8" model="objEntry.DataInfo.DeleteFlag" options="data.CboDeleteFlag"></cts-select>
        </cts-form-pane>
    </tab>
    <tab heading="{{$nm('ADM.MA.ROOMTYPES.ENTRY.TabLang')}}">
        <cts-form-pane class="p-height-3" cts-tabgroup="true">
            <cts-label class="top-1 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.LocaleCd')}}"></cts-label>
            <cts-select tabindex="10" class="top-1 left-5 width-10" model="objLocale.LocaleCd" options="data.CboLocales"></cts-select>
            <cts-label class="top-2 left-1 width-10" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.TypeName')}}"></cts-label>
            <cts-text tabindex="20" class="top-2 left-5 width-15" model="objLocale.TypeName" onblur="blurTypeName(data, objLocale, false)"></cts-text>
            <cts-button tabindex="30" class="top-3 left-5 width-8" onclick="fixRow()" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.FixLocaleInfo')}}"></cts-button>
            <cts-button class="top-3 left-9 width-8" onclick="copyInfo()" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.CopyMainInfo')}}" data-original-title="{{$nm('ADM.MA.ROOMTYPES.ENTRY.Tooltip.CopyMainInfo')}}" ui-jq="tooltip"></cts-button>
        </cts-form-pane>
        <cts-grid-Pane class="p-top-2 ma-room-types-entry-tblResult">
            <table id="tblResult" dt-options="objEntry.tblResultOptions" datatable="ng">
                <thead>
                <tr>
                    <td width="100" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.ColLocale')}}" cts-grid-header="true"></td>
                    <td width="200" text="{{$nm('ADM.MA.ROOMTYPES.ENTRY.ColTypeName')}}" cts-grid-header="true"></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="obj in objEntry.ListLocale" ng-click="selectRow(obj.LocaleCd)">
                    <td>{{obj.LocaleName}}</td>
                    <td>{{obj.TypeName}}</td>
                </tr>
                </tbody>
            </table>
        </cts-grid-Pane>
    </tab>
</tabset>