<div class="modal-header">
    <h3 class="modal-title">{{$nm('CTS.PLUGIN.FILEMANAGER.REMOVEITEM.Title')}}</h3>
</div>
<div class="modal-body">
    <span>{{$nm('CTS.PLUGIN.FILEMANAGER.REMOVEITEM.ConfirmText')}}</span>
</div>
<div class="modal-footer">
    <button ng-click="removeItem()" class="btn btn-default" type="button">{{$nm('CTS.PLUGIN.FILEMANAGER.REMOVEITEM.Yes')}}</button>
    <button ng-click="close()" class="btn btn-default" type="button">{{$nm('CTS.PLUGIN.FILEMANAGER.REMOVEITEM.No')}}</button>
</div>