/* -- adm/login.html -- */
#pnLogin
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -175px;
    width: 350px;
    height: 220px;
}
#pnInfo
{
    position: absolute;
}
#pnInfo span
{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}
#pnInfo hr
{
    position: absolute;
    border: none;
    border-bottom: 1px solid #a7abb0;
    margin: 10px 0;
}

#pnInfo #logo
{
    position: absolute;
    top: 15px;
}