/* -- adm/main.html -- */
#logoPane, #navBarPane 
{
    display: block;
    position: absolute;
    width: 230px;
    background: #fff;
    border-right: 1px dotted #222;
}
#logoPane
{
    top: 0;
    left: 0;
    height: 120px;
    background: #fff;
    border-bottom: 1px dotted #222;
}
#logoPane span
{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 30px;
    left: 30px;
}
#navBarPane
{
    top: 120px;
    left: 0;
    overflow: auto;
}
#navBarPane treecontrol > ul
{
    margin: 10px 0;
}
#contentPane
{
    position: relative;
    margin-left: 230px;
    min-width: 800px;
}
#contentPane #headerContent
{
    width: 100%;
    height: 22px;
    position: absolute;
}
#contentPane #menuIcon
{
    top: 10px;
    left: 10px;
    position: absolute;
    padding: 2px;
}
#contentPane #menuIcon span
{
    cursor: pointer;
    font-size: 16px;
}
#contentPane #userPane
{
    top: 10px;
    right: 10px;
    position: absolute;
    line-height: 22px;
}

#mainContent 
{
    top: 40px;
    left: 0;
    position: relative;
    margin: 10px;
}

/* -- adm/ma/room-types/entry.html -- */
.ma-room-types-entry-tblResult .row-fix { height: 100px!important; }
/* -- adm/ma/room-types/list.html -- */
.ma-room-types-tblResult { top: 202px!important; }
.ma-room-types-tblResult-full { top: 58px!important; }
.ma-room-types-tblResult .row-fix { height: 250px!important; }
.ma-room-types-tblResult-full .row-fix { height: 394px!important; } /* 202-58+250=394 */
/* -- adm/ma/tours/entry.html -- */
.ma-tours-entry-tblResult .row-fix { height: 50px!important; }
/* -- adm/ma/tours/list.html -- */
.ma-tours-tblResult { top: 202px!important; }
.ma-tours-tblResult-full { top: 58px!important; }
.ma-tours-tblResult .row-fix { height: 250px!important; }
.ma-tours-tblResult-full .row-fix { height: 394px!important; } /* 202-58+250=394 */
/* -- adm/ma/accoms/entry.html */
.ma-accoms-entry-tblResult .row-fix { height: 100px!important; }
/* -- adm/ma/accoms/list.html -- */
.ma-accoms-tblResult { top: 177px!important; }
.ma-accoms-tblResult-full { top: 58px!important; }
.ma-accoms-tblResult .row-fix { height: 250px!important; }
.ma-accoms-tblResult-full .row-fix { height: 369px!important; } /* 177-58+250=394 */
/* -- adm/ma/services/entry.html */
.ma-services-entry-tblResult .row-fix { height: 100px!important; }
/* -- adm/ma/services/list.html -- */
.ma-services-tblResult { top: 177px!important; }
.ma-services-tblResult-full { top: 58px!important; }
.ma-services-tblResult .row-fix { height: 250px!important; }
.ma-services-tblResult-full .row-fix { height: 369px!important; } /* 177-58+250=394 */
/* -- adm/ma/banners/entry.html */
.ma-banners-entry-tblResult .row-fix { height: 100px!important; }
/* -- adm/ma/banners/list.html -- */
.ma-banners-tblResult { top: 177px!important; }
.ma-banners-tblResult-full { top: 58px!important; }
.ma-banners-tblResult .row-fix { height: 250px!important; }
.ma-banners-tblResult-full .row-fix { height: 369px!important; } /* 177-58+250=369 */
/* -- adm/ma/photos/entry.html */
.ma-photos-entry-tblResult .row-fix { height: 100px!important; }
/* -- adm/ma/photos/list.html -- */
.ma-photos-tblResult { top: 177px!important; }
.ma-photos-tblResult-full { top: 58px!important; }
.ma-photos-tblResult .row-fix { height: 250px!important; }
.ma-photos-tblResult-full .row-fix { height: 369px!important; } /* 177-58+250=369 */
/* -- adm/ma/pages/list.html -- */
.ma-pages-tblResult { top: 58px!important; }
.ma-pages-tblResult .row-fix { height: 419px!important; }