<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>

  <connectionStrings>
    <add name="CTS.Data.Core.Properties.Settings.ConnectionString" connectionString="Data Source=(local);Initial Catalog=CTSW150901;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Client | Main -->
      <add name="RwFileManager" virtualUrl="^~/file-manager" destinationUrl="~/cts/web/file-manager.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwIndex" virtualUrl="^~/index$" destinationUrl="~/index.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwTours" virtualUrl="^~/tours$" destinationUrl="~/tours.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwTourDetail" virtualUrl="^~/tours/(.*)/(.*)$" destinationUrl="~/tour-detail.aspx?lang=en&amp;type=$1&amp;name=$2" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBooking" virtualUrl="^~/booking$" destinationUrl="~/booking.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwServices" virtualUrl="^~/services$" destinationUrl="~/services.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwFaq" virtualUrl="^~/faq$" destinationUrl="~/faq.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwPolicy" virtualUrl="^~/privacy-policy$" destinationUrl="~/privacy-policy.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwTerm" virtualUrl="^~/term-and-condition$" destinationUrl="~/term-and-condition.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAccommodation" virtualUrl="^~/accommodation$" destinationUrl="~/accommodation.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwPromotion" virtualUrl="^~/promotion$" destinationUrl="~/promotion.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwGallery" virtualUrl="^~/gallery$" destinationUrl="~/gallery.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwContact" virtualUrl="^~/contact-us$" destinationUrl="~/contact-us.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwReservation" virtualUrl="^~/reservation$" destinationUrl="~/reservation.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep1" virtualUrl="^~/booking-step-1$" destinationUrl="~/booking-step-1.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep2" virtualUrl="^~/booking-step-2$" destinationUrl="~/booking-step-2.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep3" virtualUrl="^~/booking-step-3$" destinationUrl="~/booking-step-3.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep4" virtualUrl="^~/booking-step-4$" destinationUrl="~/booking-step-4.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwDestination" virtualUrl="^~/destinations$" destinationUrl="~/destinations.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAbout" virtualUrl="^~/about-us$" destinationUrl="~/about-us.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
     
      
      <add name="RwIndexLang" virtualUrl="^~/(.{2})/index$" destinationUrl="~/index.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwToursLang" virtualUrl="^~/(.{2})/tours$" destinationUrl="~/tours.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwTourDetailLang" virtualUrl="^~/(.{2})/tours/(.*)/(.*)$" destinationUrl="~/tour-detail.aspx?lang=$1&amp;name=$3" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookingLang" virtualUrl="^~/(.{2})/booking$" destinationUrl="~/booking.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwServicesLang" virtualUrl="^~/(.{2})/services$" destinationUrl="~/services.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwFaqLang" virtualUrl="^~/(.{2})/faq$" destinationUrl="~/faq.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwPolicyLang" virtualUrl="^~/(.{2})/privacy-policy$" destinationUrl="~/privacy-policy.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwTermLang" virtualUrl="^~/(.{2})/term-and-condition$" destinationUrl="~/term-and-condition.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAccommodationLang" virtualUrl="^~/(.{2})/accommodation$" destinationUrl="~/accommodation.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwPromotionLang" virtualUrl="^~/(.{2})/promotion$" destinationUrl="~/promotion.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwGalleryLang" virtualUrl="^~/(.{2})/gallery$" destinationUrl="~/gallery.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwContactLang" virtualUrl="^~/(.{2})/contact-us$" destinationUrl="~/contact-us.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwReservationLang" virtualUrl="^~/(.{2})/reservation$" destinationUrl="~/reservation.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep1Lang" virtualUrl="^~/(.{2})/booking-step-1$" destinationUrl="~/booking-step-1.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep2Lang" virtualUrl="^~/(.{2})/booking-step-2$" destinationUrl="~/booking-step-2.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep3Lang" virtualUrl="^~/(.{2})/booking-step-3$" destinationUrl="~/booking-step-3.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwBookStep4Lang" virtualUrl="^~/(.{2})/booking-step-4$" destinationUrl="~/booking-step-4.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwDestinationLang" virtualUrl="^~/(.{2})/destinations$" destinationUrl="~/destinations.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAboutLang" virtualUrl="^~/(.{2})/about-us$" destinationUrl="~/about-us.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <!-- Admin | Main -->
        <add name="RwAdminLogin" virtualUrl="^~/admin/login$" destinationUrl="~/adm/login.html" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
        <add name="RwAdminMain" virtualUrl="^~/administer/(.*)$" destinationUrl="~/adm/main.html" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <!-- CTS | Handler -->
      <add name="RwCTSWebUsers" virtualUrl="^~/cts/web/users$" destinationUrl="~/cts/web/users.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebMain" virtualUrl="^~/cts/web/main$" destinationUrl="~/cts/web/main.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebUploadFile" virtualUrl="^~/cts/web/upload-file$" destinationUrl="~/cts/web/upload-file.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebCompanyInfos" virtualUrl="^~/cts/web/company-infos$" destinationUrl="~/cts/web/company-infos.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebParameters" virtualUrl="^~/cts/web/parameters$" destinationUrl="~/cts/web/parameters.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
    </rewrites>
  </urlrewritingnet>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <httpRuntime requestValidationMode="2.0" />
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="cts/web/users.ashx" type="CTS.Web.Users.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/main.ashx" type="CTS.Web.Main.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/file-manager.ashx" type="CTS.Web.FileManager.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/upload-file.ashx" type="CTS.Web.UploadFile.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/company-infos.ashx" type="CTS.Web.CompanyInfos.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/parameters.ashx" type="CTS.Web.Parameters.ProcessHandler" validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CTSWebUsers" verb="*" path="cts/web/users.ashx" type="CTS.Web.Users.ProcessHandler" />
      <add name="CTSWebMain" verb="*" path="cts/web/main.ashx" type="CTS.Web.Main.ProcessHandler" />
      <add name="CTSWebFileManager" verb="*" path="cts/web/file-manager.ashx" type="CTS.Web.FileManager.ProcessHandler" />
      <add name="CTSWebUploadFile" verb="*" path="cts/web/upload-file.ashx" type="CTS.Web.UploadFile.ProcessHandler" />
      <add name="CTSWebCompanyInfos" verb="*" path="cts/web/company-infos.ashx" type="CTS.Web.CompanyInfos.ProcessHandler" />
      <add name="CTSWebParameters" verb="*" path="cts/web/parameters.ashx" type="CTS.Web.Parameters.ProcessHandler" />
    </handlers>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
