<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>

  <connectionStrings>
    <add name="CTS.Data.Core.Properties.Settings.ConnectionString" connectionString="Data Source=(local);Initial Catalog=CTSW150901;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Client | Main -->
      <add name="RwIndex" virtualUrl="^~/index$" destinationUrl="~/index.aspx?lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwIndexLang" virtualUrl="^~/(.{2})/index$" destinationUrl="~/index.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <!-- Admin | Main -->
      <add name="RwAdminLogin" virtualUrl="^~/admin/login$" destinationUrl="~/adm/login.html" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAdminMain" virtualUrl="^~/adm/(.*)$" destinationUrl="~/adm/main.html" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <!-- CTS | Handler -->
      <add name="RwCTSWebUsers" virtualUrl="^~/cts/web/users$" destinationUrl="~/cts/web/users.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebMain" virtualUrl="^~/cts/web/main$" destinationUrl="~/cts/web/main.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebUploadFile" virtualUrl="^~/cts/web/upload-file$" destinationUrl="~/cts/web/upload-file.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebCompanyInfos" virtualUrl="^~/cts/web/company-infos$" destinationUrl="~/cts/web/company-infos.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwCTSWebParameters" virtualUrl="^~/cts/web/parameters$" destinationUrl="~/cts/web/parameters.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
    </rewrites>
  </urlrewritingnet>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <httpRuntime requestValidationMode="2.0" />
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="cts/web/users.ashx" type="CTS.Web.Users.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/main.ashx" type="CTS.Web.Main.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/file-manager.ashx" type="CTS.Web.FileManager.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/upload-file.ashx" type="CTS.Web.UploadFile.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/company-infos.ashx" type="CTS.Web.CompanyInfos.ProcessHandler" validate="false" />
      <add verb="*" path="cts/web/parameters.ashx" type="CTS.Web.Parameters.ProcessHandler" validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CTSWebUsers" verb="*" path="cts/web/users.ashx" type="CTS.Web.Users.ProcessHandler" />
      <add name="CTSWebMain" verb="*" path="cts/web/main.ashx" type="CTS.Web.Main.ProcessHandler" />
      <add name="CTSWebFileManager" verb="*" path="cts/web/file-manager.ashx" type="CTS.Web.FileManager.ProcessHandler" />
      <add name="CTSWebUploadFile" verb="*" path="cts/web/upload-file.ashx" type="CTS.Web.UploadFile.ProcessHandler" />
      <add name="CTSWebCompanyInfos" verb="*" path="cts/web/company-infos.ashx" type="CTS.Web.CompanyInfos.ProcessHandler" />
      <add name="CTSWebParameters" verb="*" path="cts/web/parameters.ashx" type="CTS.Web.Parameters.ProcessHandler" />
    </handlers>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
