<cts-title text="{{$nm('CTS.ADM.UCS.VIEWPARAMETERS.Title')}}"></cts-title>
<cts-toolbar>
    <cts-toolbar-item onclick="saveBatch()" class="left-1" src="$res.Icons.SaveBatch" data-original-title="{{$nm('CTS.ADM.UCS.VIEWPARAMETERS.SaveBatch')}}" ui-jq="tooltip"></cts-toolbar-item>
</cts-toolbar>
<cts-grid-Pane class="parameters-tblResult">
    <table dt-options="tblResult.Options" datatable="ng">
        <thead>
        <tr>
            <td width="30px"></td>
            <td width="250" text="{{$nm('CTS.ADM.UCS.VIEWPARAMETERS.ColParamName')}}" cts-grid-header="true"></td>
            <td width="200" text="{{$nm('CTS.ADM.UCS.VIEWPARAMETERS.ColParamValue')}}" cts-grid-header="true"></td>
            <td width="450" text="{{$nm('CTS.ADM.UCS.VIEWPARAMETERS.ColNotes')}}" cts-grid-header="true"></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in tblResult.ListData">
            <td><input type="checkbox" ng-model="obj.HasChanged"/></td>
            <td>{{obj.ParamName}}</td>
            <td class="editable">
                <span ng-if="obj.ParamType=='String'">
                    <cts-text tabindex="10" model="obj.ParamValue" onchange="tblResultChange(data, obj)"></cts-text>
                </span>
                <span ng-if="obj.ParamType=='Password'">
                    <cts-password tabindex="10" model="obj.ParamValue" onchange="tblResultChange(data, obj)"></cts-password>
                </span>
                <span ng-if="obj.ParamType=='Number'">
                    <cts-number tabindex="10" model="obj.ParamValue" onchange="tblResultChange(data, obj)"></cts-number>
                </span>
                <span ng-if="obj.InfoType=='Date'">
                    <cts-date tabindex="10" model="obj.ParamValue" onchange="tblResultChange(data, obj)"></cts-date>
                </span>
            </td>
            <td>{{obj.Notes}}</td>
        </tr>
        </tbody>
    </table>
</cts-grid-Pane>