<div class="{{class}} cts-number">
    <div class="input-group">
        <input 
            class="form-control"
            cts-submit="{{uiKeypress}}"
            id="{{id}}"
            ng-blur="onblur({data: model})"
            ng-change="_change()"
            ng-disabled="disabled"
            ng-model="model"
            placeholder="{{placeholder}}"
            tabindex="{{tabindex}}"
            ui-keydown="{up:'_increase()', down:'_decrease()'}" 
            type="text">
        <span class="input-group-btn">
            <div class="btn-group btn-group-vertical">
                <a ng-disabled="disabled" class="btn btn-default btn-up" type="button" ng-click="_increase()">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <a ng-disabled="disabled" class="btn btn-default btn-down" type="button" ng-click="_decrease()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </div>
        </span>
    </div>
</div>

